<nav>
	<a href="{{site.baseurl}}/LinuxInstallHelp/Ubuntu-Installation.html">Ubuntu Install</a>
	<a href="{{site.baseurl}}/LinuxInstallHelp/MySQL.html">MySQL</a>
	<a href="{{site.baseurl}}/LinuxInstallHelp/Apache.html">Apache</a>
	<a href="{{site.baseurl}}/LinuxInstallHelp/PHP.html">PHP</a>
	<a href="{{site.baseurl}}/LinuxInstallHelp/Java.html">Java</a>
	<a href="{{site.baseurl}}/LinuxInstallHelp/Tomcat.html">Tomcat</a>
	<a href="{{site.baseurl}}/LinuxInstallHelp/Tomcat-Connectors.html">Tomcat Connectors</a>
	<a href="{{site.baseurl}}/LinuxInstallHelp/Solr.html">Solr</a>
</nav>
