<div>
	<h2><a href="{{site.baseurl}}/LinuxInstallHelp">Linux Install Help</a>
	</h2>
	<ul><li><a href="{{site.baseurl}}/LinuxInstallHelp/Ubuntu-Installation.html">Ubuntu Install</a></li>
		<li><a href="{{site.baseurl}}/LinuxInstallHelp/MySQL.html">MySQL</a></li>
		<li><a href="{{site.baseurl}}/LinuxInstallHelp/Apache.html">Apache</a></li>
		<li><a href="{{site.baseurl}}/LinuxInstallHelp/PHP.html">PHP</a></li>
		<li><a href="{{site.baseurl}}/LinuxInstallHelp/Java.html">Java</a></li>
		<li><a href="{{site.baseurl}}/LinuxInstallHelp/Tomcat.html">Tomcat</a></li>
		<li><a href="{{site.baseurl}}/LinuxInstallHelp/Tomcat-Connectors.html">Tomcat Connectors</a></li>
		<li><a href="{{site.baseurl}}/LinuxInstallHelp/CAS.html">CAS</a></li>
		<li><a href="{{site.baseurl}}/LinuxInstallHelp/Solr.html">Solr</a></li>
	</ul>
</div>
